trash/
*.las
__pycache__/
output_image.png
crack.ply
file-cropped.ply
PointCloud2BinaryImage/OverlaySceneCropped.ply
PointCloud2BinaryImage/binary_image.png
PointCloud2BinaryImage/crack_on_selected_point_cloud.png
PointCloud2BinaryImage/skeletonized_image.png
PointCloud2BinaryImage/total_crack_length.json

